@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Public+Sans:wght@300&display=swap");
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "IBM Plex Sans", sans-serif; }

a {
  text-decoration: none;
  color: black; }

.nav-link {
  color: #005e94; }

.pagelinks, a, .nav-link, ul li a,
footer .nav-link,
header .nav-link {
  font-family: "Public Sans", sans-serif; }
  .pagelinks:hover, a:hover, .nav-link:hover {
    color: #1f6dff; }

ul li a,
footer .nav-link,
header .nav-link {
  color: whitesmoke; }

.mainNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media screen and (min-width: 576px) {
    .mainNavbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; } }

.footerNavbar,
footer nav ul,
footer nav a {
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media screen and (min-width: 1230px) {
  footer nav a {
    justify-content: end; } }

.footerNavbar ul {
  padding: 0; }

.footerNavbar li {
  position: relative;
  margin-right: auto; }

.footerNavbar li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: whitesmoke; }

.footerNavbar li:last-child::after {
  content: none; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

nav,
footer {
  background-color: #005e94; }

.carousel-item {
  min-height: auto;
  max-width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.imgLogo {
  max-width: 50%; }
  @media screen and (min-width: 200px) {
    .imgLogo {
      max-width: 65%; } }
  @media screen and (min-width: 576px) {
    .imgLogo {
      max-width: 75%; } }
  @media screen and (min-width: 768px) {
    .imgLogo {
      max-width: 65%; } }
  @media screen and (min-width: 992px) {
    .imgLogo {
      max-width: 60%; } }
  @media screen and (min-width: 1230px) {
    .imgLogo {
      max-width: 50%; } }

main section.zone1A {
  background-color: #bbcae7; }

main section.zone1A li {
  background-color: whitesmoke; }

.gridMain {
  width: 99%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "zone1A" "zone1B" "zone1C"; }

.zone1A {
  grid-area: zone1A; }

.zone1B {
  grid-area: zone1B; }

.zone1C {
  grid-area: zone1C; }

@media screen and (min-width: 1230px) {
  .gridMain {
    grid-template-rows: auto auto;
    grid-template-columns: 30% 70%;
    grid-template-areas: "zone1A zone1B" "zone1A zone1C"; } }

.reviewText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden; }

.reviewText:hover {
  display: block; }

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  align-items: center; }
